.Section-Login{
    padding: 10px;
}

.Login-Form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Input-Name{
    width: 100px;
}

.Input-Email{
    width: 100px;
    height: 20px;
    background-color: red;
}

.Input-Password{
    width: 100px;
}

.Button-Submit {
    width: 70px;
    height: 20px;
}