.Card-Post {
    position: relative;
    width: 300px;
    height: 350px;
    overflow: hidden;
    border-radius: 18px;
    cursor: pointer;
}

.Card-Content{
   position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15%;

    background: linear-gradient(
        to top,
        rgba(0,0,0,1.2),
        rgba(0,0,0,1),
        transparent
    );

    color: white;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
   
    transform: translateY(30%); 
    transition: transform 0.4s ease;
}

.Card-Post:hover .Card-Content {
   transform: translateY(0);
}
.Card-Post:hover .Description-Post {
    opacity: 1;
    max-height: 200px;
}

.Title-Post{
   font-size: 18px;
    opacity: 1;
    transition: opacity 0.3s ease;
    color: var(--green-soft);
}

.Image-Post{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Description-Post{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}
