
@import "/frontend/src/components/header/styleHeader.css";
@import "/frontend/src/components/login/styleLogin.css";
@import "/frontend/src/components/posts/stylePost.css";
@import "/frontend/src/components/register/register.css";
@import "/frontend/src/components/postDetail/postDetail.css";
@import "/frontend/src/components/comments/comments.css";

:root{
    --green-main: #1f5c4d;
    --green-soft: #6bb1a1;
    --beige: #f8f4ec;
    --text-dark: #333;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#posts-container{
    display: grid;
    width: 100%;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 300px));
    gap: 30px;
    justify-content: center;
}

.Error-Message {
    text-align: center;
    padding: 40px;
    color: #e74c3c;
    font-weight: bold;
}

.Card-Overlay {
    pointer-events: none;
}