
@import "/frontend/src/components/header/styleHeader.css";
@import "/frontend/src/components/login/styleLogin.css";
@import "/frontend/src/components/posts/stylePost.css";

:root{
    --green-main: #1f5c4d;
    --green-soft: #2f7a68;
    --beige: #f8f4ec;
    --text-dark: #333;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    text-align: center;
  
    width: 100%;
}



#posts-container{
    display: grid;
    width: 100%;
    margin: 0px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
    gap: 20px;
    justify-content: center;
}
